{% extends 'base.html' %}
{% load static %}
{% block title %} password Reset{% endblock %}

{% block main %}
<style>
    .section{
        display:flex;
        justify-content:center;
    }
    .section .change{
        width:400px;
        margin:20px;
        padding:30px;
    }
    .tick-container {
        margin-left:150px;
        width: 100px;
        height: 100px;
    }
    .tick {
        width: 100%;
        height: 100%;
        stroke-dasharray: 50;
        stroke-dashoffset: 50;
        animation: draw-tick 1s ease forwards;
    }
    p{
        margin-left:100px;
    }
    p .back-home{
        margin-left:30px;
        text-decoration:none;
        color:#070707;
        padding:10px 20px;
        background-color:#f3c600;
        border-radius:10px;
    }
    @media (max-width: 768px) {
        .change{
            width:400px;
        }
        p{
            margin-left:50px;
        }
        .tick-container {
            margin-left:80px;
            width: 100px;
        }
    }
    @keyframes draw-tick {
        to {
            stroke-dashoffset: 0;
        }
    }
</style>
<div class="section">
    <div class="change">
        <h2 style='display:flex;justify-content:center;'>Password change successful</h2>
        <p >Your password was changed.</p>
        <div class="tick-container">
            <svg class="tick" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 12l4 4L18 8" stroke="#28a745" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <p><a class='back-home'href='/'>Home</p>
    </div>
</div>
{% endblock %}