{% extends 'base.html' %}
{% load static %}
{% block title %} password Reset{% endblock %}

{% block main %}
<style>
    .section{
        display:flex;
        justify-content:center;
        margin-top: -50px;
    }
    .section div{
        margin-top: -60px;
        width:400px;
        margin:20px;
        border:1px solid black;
        border-radius:10px;
        padding-left: 20px;
        padding-bottom: 10px;
    }
    .section ul li{
        margin-top: 10px;
    }
    .submitForm {
        padding: 10px 20px;
        background-color:#ecb00a;
        color: #000;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left:100px;
    }
    form label{
        font-size:20px;
    }
    form input{
        width:300px;
        height:30px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight:300;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.07);
        color:#000;
    }
    form ul{
        display: none;
    }
    .message{
        color: red;
    }
    .error{
        color: red;
        list-style-type: none;
        margin-left: 40px;
        margin-top: 50px;
        font-size: 20px;
        position:absolute;
    }
</style>
<div>
    {% if form.errors %}
    <ul class="error">
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
    {% if messages %}
    {% for message in messages %}
        <p class="message">{{ message }}</p>
    {% endfor %}
    {% endif %}
</div>
<div class="section">
    <ul style="margin-top: 100px;">
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>
    <div>
        <h2 style='display:flex;justify-content:center;'>Password change</h2>
        <form method='post' action="{% url 'password_change' %}">
            {% csrf_token %}
            {{form.as_p}}
            <button style="display: flex;justify-content:center;"class='submitForm' type=submit>Change my password</button> 
        </form>
    </div>
</div>
{% endblock %}