{% extends "base.html" %}
{% load static %}
{% block title %}Mail send Rest{% endblock %}

{% block main %}
<style>
    .section{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .section div{
        width:700px;
    }
    .section div h2{
        display:flex;
        justify-content:center;
    }
    .tick-container {
        width: 100px;
        height: 100px;
    }
    .tick {
        width: 100%;
        height: 100%;
        stroke-dasharray: 50;
        stroke-dashoffset: 50;
        animation: draw-tick 1s ease forwards;
    }
    @media (max-width: 768px) {
        .mobile{
            width:300px;
            text-align:justify;
        }
        .change{
            width:400px;
        }
    }
    @keyframes draw-tick {
        to {
            stroke-dashoffset: 0;
        }
    }
</style>
<div class="section">
    <div class='mobile'>
        <h3>Thank you for Password Reset !</h3>
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
        </p>
        <p style='display:flex;justify-content:center;'>check Mail: <a href='https://mail.google.com/mail/' style='margin-left:20px'>https://mail.google.com/mail</a></p>
        <div class="tick-container">
            <svg class="tick" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 12l4 4L18 8" stroke="#28a745" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
    </body>
</div>
{% endblock %}